*{
	font-family: permanent marker;
}

.card-text{
	font-family: caveat;
	font-size: 23px;
	color: skyblue;
}

.text-info{
	font-family: caveat;
	font-size: 23px;
	color: skyblue;
}

.modal-title text-dark{
	font-family: caveat;
	font-size: 23px;
	color: skyblue;
}

span{
	font-family: caveat;
	margin-left: 1rem;
	margin-right: 1rem;
}